<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="../../static/assets/css/schedule.css">
    <link rel="stylesheet" href="../../static/assets/css/main.css">
    <title>Schedule Template | CodyHouse</title>
</head>
<body>
<div class="container">
    <div class="schedule-buttons-wrapper">
        <a href="">мосфильмовская</a>
        <a href="">бауманская</a>
    </div>
</div>
<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule" id="mosf-schedule">
    <div class="schedult-update-time">
        расписание обновлено: 25.11.1999
    </div>
    <div class="cd-schedule__timeline">
        <ul>
            <li><span style="color: #7D2424">09:00</span></li>
            <li><span>09:30</span></li>
            <li><span style="color: #B95253">10:00</span></li>
            <li><span>10:30</span></li>
            <li><span style="color: #6E64A4">11:00</span></li>
            <li><span>11:30</span></li>
            <li><span style="color: deeppink">12:00</span></li>
            <li><span>12:30</span></li>
            <li><span style="color: #4A8C92">13:00</span></li>
            <li><span>13:30</span></li>
            <li><span style="color: black">14:00</span></li>
            <li><span>14:30</span></li>
            <li><span style="color: #A3CB8F">15:00</span></li>
            <li><span>15:30</span></li>
            <li><span style="color: black">16:00</span></li>
            <li><span>16:30</span></li>
            <li><span style="color: deeppink">17:00</span></li>
            <li><span>17:30</span></li>
            <li><span style="color: #6E64A4">18:00</span></li>
            <li><span>18:30</span></li>
            <li><span style="color: #4A8C92">19:00</span></li>
            <li><span>19:30</span></li>
            <li><span style="color:#B95253;">20:00</span></li>
            <li><span>20:30</span></li>
            <li><span style="color: #7D2424">21:00</span></li>
            <li><span>21:30</span></li>
        </ul>
    </div> <!-- .cd-schedule__timeline -->
    <div class="cd-schedule__events">
        <ul>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #6E64A4">Понедельник</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #4A8C92">Вторник</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: deeppink">Среда</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color:#B95253">Четверг</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #A3CB8F">Пятница</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color:#4A8C92;">Суббота</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>

            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #7D2424">Воскресенье</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>

            </li>
        </ul>
    </div>

    <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
            <div class="cd-schedule-modal__content">
                <span class="cd-schedule-modal__date"></span>
                <h3 class="cd-schedule-modal__name"></h3>
            </div>

            <div class="cd-schedule-modal__header-bg"></div>
        </header>

        <div class="cd-schedule-modal__body">
            <div class="cd-schedule-modal__event-info"></div>
            <div class="cd-schedule-modal__body-bg"></div>
        </div>

        <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
<div class="cd-schedule__cover-layer"></div>

    <div class="schedule-remark">
        <sup>*</sup>все занятие проводятся в офлайн режиме. в группах от 4 до 8 человек. <br>
        онлайн занятия: по договоренности
    </div>

</div> <!-- mosf school .cd-schedule -->
<div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule" id="baum-schedule">
    <div class="schedult-update-time">
        расписание обновлено: 25.11.1999
    </div>
    <div class="cd-schedule__timeline">
        <ul>
            <li><span style="color: #7D2424">09:00</span></li>
            <li><span>09:30</span></li>
            <li><span style="color: #B95253">10:00</span></li>
            <li><span>10:30</span></li>
            <li><span style="color: #6E64A4">11:00</span></li>
            <li><span>11:30</span></li>
            <li><span style="color: deeppink">12:00</span></li>
            <li><span>12:30</span></li>
            <li><span style="color: #4A8C92">13:00</span></li>
            <li><span>13:30</span></li>
            <li><span style="color: black">14:00</span></li>
            <li><span>14:30</span></li>
            <li><span style="color: #A3CB8F">15:00</span></li>
            <li><span>15:30</span></li>
            <li><span style="color: black">16:00</span></li>
            <li><span>16:30</span></li>
            <li><span style="color: deeppink">17:00</span></li>
            <li><span>17:30</span></li>
            <li><span style="color: #6E64A4">18:00</span></li>
            <li><span>18:30</span></li>
            <li><span style="color: #4A8C92">19:00</span></li>
            <li><span>19:30</span></li>
            <li><span style="color:#B95253;">20:00</span></li>
            <li><span>20:30</span></li>
            <li><span style="color: #7D2424">21:00</span></li>
            <li><span>21:30</span></li>
        </ul>
    </div> <!-- .cd-schedule__timeline -->
    <div class="cd-schedule__events">
        <ul>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #6E64A4">Понедельник</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #4A8C92">Вторник</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: deeppink">Среда</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color:#B95253">Четверг</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #A3CB8F">Пятница</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>
            </li>
            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color: #4A8C92">Суббота</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>

            </li>

            <li class="cd-schedule__group">
                <div class="cd-schedule__top-info"><span style="color:#7D2424">Воскресенье</span></div>

                <ul>
                    <!--         insert into schedule elements of this day            -->
                    <!--              schedule element          -->
                    <li class="cd-schedule__event">
                        <!--data start - event start time-->
                        <!--data end - event end time-->
                        <a data-start="09:30" data-end="10:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                            <!--           title of event             -->
                            <em class="cd-schedule__name">Abs Circuit</em>
                            <!--           title of event             -->
                        </a>
                    </li>
                    <!--              schedule element          -->

                    <li class="cd-schedule__event">
                        <a data-start="11:00" data-end="12:30" data-content="event-rowing-workout" data-event="event-2" href="#0">
                            <em class="cd-schedule__name">Rowing Workout</em>
                        </a>
                    </li>

                    <li class="cd-schedule__event">
                        <a data-start="14:00" data-end="15:15" data-content="event-yoga-1" data-event="event-3" href="#0">
                            <em class="cd-schedule__name">Yoga Level 1</em>
                        </a>
                    </li>
                    <!--         insert into schedule elements of this day            -->

                </ul>

            </li>
        </ul>
    </div>

    <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
            <div class="cd-schedule-modal__content">
                <span class="cd-schedule-modal__date"></span>
                <h3 class="cd-schedule-modal__name"></h3>
            </div>

            <div class="cd-schedule-modal__header-bg"></div>
        </header>

        <div class="cd-schedule-modal__body">
            <div class="cd-schedule-modal__event-info"></div>
            <div class="cd-schedule-modal__body-bg"></div>
        </div>

        <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
    <div class="schedule-remark">
        <sup>*</sup>все занятие проводятся в офлайн режиме. в группах от 4 до 8 человек. <br>
        онлайн занятия: по договоренности
    </div>
</div> <!-- baum school .cd-schedule -->

<script src="../../node_modules/codyhouse-framework/main/assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="../../static/assets/js/schedule.js"></script>
</body>
</html>