<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/assets/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/media.css">
    <!--  include all styles  -->
    <title>Index page</title>
</head>
<body>


    <section class="header-teachers">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="pag-back-button">
                        <div class="wrapper">
                            <a href="#">назад</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div class="row justify-content-end ">
                        <div class="page-header-title">
                            преподаватели
                        </div>
                        <a href="" class="position-absolute">
                            <img src="../../static/img/header-penguin-logo.svg" class="page-header-img" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teachers-slider">
        <div class="buttons">
<!--            <input type="button" class="slider-toggle">-->
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 description">
                        <div class="title" id="contentTitle">
                            картвелишвили татьяна александровна
                        </div>
                        <div class="subtitle" id="contentSubtitle">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, saepe?
                        </div>
                        <div class="component" id="contentComponent_1">
                            <div class="name" >
                                образование:
                            </div>
                            <div class="text" id="text__1">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolorum eligendi error ex facilis fuga laudantium, magnam maxime quam saepe similique soluta vel veritatis?
                            </div>
                        </div>
                        <div class="component" id="contentComponent_2">
                            <div class="name" >
                                педагогический стаж:
                            </div>
                            <div class="text" id="text__2">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolorum eligendi error ex facilis fuga laudantium, magnam maxime quam saepe similique soluta vel veritatis?
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 image">
                        <img src="../../static/img/instagram.svg" alt="" id="contentImage" class="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="teachers-table">

                <div class="table-elem">
                    <div class="elem-img">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="elemImage">
                    </div>
                    <div class="elem-title">
                        савельев иван сергеевич
                    </div>
                    <div class="elem-description">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="component__hidden">
                        контент 1
                        преподователь 1
                    </div>
                    <div class="component__hidden">
                        контент 2
                        преподователь 1
                    </div>
                </div>
                <div class="table-elem">
                    <div class="elem-img">
                        <img src="https://images.unsplash.com/photo-1504810370725-2585de12e6ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="" class="elemImage">
                    </div>
                    <div class="elem-title">
                        картвелившивили татьяна александровна
                    </div>
                    <div class="elem-description">
                        Lorem ipsum dolor sit amet.
                    </div>
                    <div class="component__hidden">
                        контент 1
                        преподователь 2
                    </div>
                    <div class="component__hidden">
                        контент 2
                        преподователь 2
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer" id="footer-anchor">
        <div class="container">
            <div class="row justify-content-between footer-top">
                <div class="col-sm-3">
                    <ul class="footer-list">
                        <li><img src="../../static/img/instagram.svg" alt="">instagram</li>
                        <li><img src="../../static/img/whatsapp.svg" alt="">whatsapp</li>
                        <li><img src="../../static/img/telegram.svg" alt="">telegram</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="footer-list">
                        <li><img src="../../static/img/" alt="">tel</li>
                        <li><img src="../../static/img/" alt="">email</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="footer-title">
                        школа <br> точных <br> наук
                    </div>
                </div>
            </div>
            <div class="row justify-content-between footer-bottom">
                <div class="col-sm-5">
                    &#169; 2020 штерн <br>
                    ип юмашев михаил владиславович
                </div>
                <div class="col-sm-3 text-left">
                    инн: 770504944805 <br>
                    огнип: 317774600318392
                </div>
                <div class="col-sm-4 text-right">
                    <a href="#">карта <br> сайта</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../static/js/main.js"></script>

</body>
</html>