html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }

.tools-menu {
  padding: 5vh 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: .4s linear;
  position: relative;
  left: -65px; }
  .tools-menu .tools-menu-show button {
    background-color: #383838;
    height: 100px;
    color: white;
    font-size: 26px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border: none;
    outline: none;
    cursor: pointer; }
  .tools-menu .tools-menu-show .icon-reverse {
    transform: rotate(180deg);
    position: relative;
    right: 3px; }
  .tools-menu .tools-menu-wrapper {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #383838;
    width: 65px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
    .tools-menu .tools-menu-wrapper .tools-menu-list {
      display: flex;
      flex-flow: column wrap;
      justify-content: center; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        margin: 1vh 0;
        text-align: center; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item:first-of-type {
          border-top-right-radius: 15px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item:last-of-type {
          border-bottom-right-radius: 15px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i {
          font-size: 22px;
          cursor: pointer; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i.fa-square {
          position: relative;
          left: 4px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i.fa-caret-right {
          position: relative;
          left: 6px;
          top: 16px;
          transform: rotate(45deg); }
      .tools-menu .tools-menu-wrapper .tools-menu-list .yellow {
        background-color: #F0E267; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .blue {
        background-color: #639EB4; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .red {
        background-color: #B85253; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .green {
        background-color: #9FC48C; }

canvas {
  border: solid 3px black; }

.media-menu .media-video {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  transition: .4s linear;
  right: -350px; }
  .media-menu .media-video .media-video-show button {
    position: relative;
    top: 72px;
    width: 70px;
    left: 35px;
    text-align: left;
    background-color: #B25555;
    height: 100px;
    color: white;
    font-size: 26px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1; }
    .media-menu .media-video .media-video-show button i {
      transform: rotate(-90deg); }
  .media-menu .media-video .media-video-wrapper {
    width: 350px;
    height: 240px; }
    .media-menu .media-video .media-video-wrapper .media-video-box img {
      border: solid 1px #B25555;
      border-radius: 20px;
      position: relative;
      z-index: 2; }
    .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #B25555;
      position: relative;
      width: 35px;
      height: 50px; }
      .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle input {
        height: 35px;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: -10px;
        width: 35px;
        z-index: 2; }
      .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle input:checked {
        z-index: 0; }
        .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle input:checked .media-toggle-switch {
          top: -1px; }
      .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle input ~ :checked ~ .media-toggle-switch {
        top: 13px; }
      .media-menu .media-video .media-video-wrapper .media-video-tumbler .media-toggle .media-toggle-switch {
        border-radius: 100%;
        transition: top .2s ease;
        background-color: #fff;
        height: 14px;
        left: -1px;
        position: relative;
        top: -4px;
        width: 14px;
        z-index: 1; }

/*# sourceMappingURL=main.css.map */
