html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between; }

.tools-menu {
  padding: 5vh 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: .4s linear;
  position: relative;
  left: -65px; }
  .tools-menu .tools-menu-show button {
    background-color: #383838;
    height: 100px;
    color: white;
    font-size: 26px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border: none;
    outline: none;
    cursor: pointer; }
  .tools-menu .tools-menu-show .icon-reverse {
    transform: rotate(180deg);
    position: relative;
    right: 3px; }
  .tools-menu .tools-menu-wrapper {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #383838;
    width: 65px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
    .tools-menu .tools-menu-wrapper .tools-menu-list {
      display: flex;
      flex-flow: column wrap;
      justify-content: center; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        margin: 1vh 0;
        text-align: center;
        overflow: hidden; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item:first-of-type {
          border-top-right-radius: 15px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item:last-of-type {
          border-bottom-right-radius: 15px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i {
          font-size: 22px;
          cursor: pointer; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i.fa-square {
          position: relative;
          left: 4px; }
        .tools-menu .tools-menu-wrapper .tools-menu-list .tools-list-item i.fa-caret-right {
          position: relative;
          left: 6px;
          top: 16px;
          transform: rotate(45deg); }
      .tools-menu .tools-menu-wrapper .tools-menu-list .yellow {
        background-color: #F0E267; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .blue {
        background-color: #639EB4; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .red {
        background-color: #B85253; }
      .tools-menu .tools-menu-wrapper .tools-menu-list .green {
        background-color: #9FC48C; }

canvas {
  border: solid 3px black; }

.media-menu {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }
  .media-menu .media-video, .media-menu .media-microphone, .media-menu .media-chat {
    margin: 2vh 0; }
  .media-menu .media-video {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    transition: .4s linear;
    right: -350px; }
    .media-menu .media-video .media-video-show button {
      position: relative;
      top: 72px;
      width: 70px;
      left: 35px;
      text-align: left;
      background-color: #B25555;
      height: 100px;
      color: white;
      font-size: 26px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      border: none;
      outline: none;
      cursor: pointer; }
      .media-menu .media-video .media-video-show button i {
        transform: rotate(-90deg); }
    .media-menu .media-video .media-video-wrapper {
      width: 350px;
      height: 240px; }
      .media-menu .media-video .media-video-wrapper .media-video-box img {
        border: solid 1px #B25555;
        border-radius: 20px;
        position: relative;
        z-index: 2; }
  .media-menu .media-microphone {
    display: flex;
    right: -380px;
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    transition: .4s linear; }
    .media-menu .media-microphone .media-microphone-show button {
      position: relative;
      width: 40px;
      left: 10px;
      text-align: left;
      background-color: #9FC48C;
      height: 50px;
      color: white;
      font-size: 26px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 1; }
      .media-menu .media-microphone .media-microphone-show button i {
        position: relative;
        top: 2px;
        left: 2px; }
    .media-menu .media-microphone .media-microphone-wrapper {
      width: 200px;
      display: flex;
      position: relative;
      align-items: center;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      z-index: 2; }
      .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box {
        z-index: 2;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border: solid 1px #9FC48C;
        height: 48px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 200px; }
        .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls {
          width: 100px; }
          .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls input[type='range'] {
            top: -20px;
            right: 75px;
            position: relative; }
          .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls .media-microphone-buttons {
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            height: 48px;
            position: relative;
            bottom: 14px; }
            .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls .media-microphone-buttons button {
              font-size: 24px;
              font-weight: 700;
              margin: 0 3px;
              background-color: transparent;
              border: solid 3px #E4E4E4;
              border-radius: 10px;
              height: 35px;
              width: 35px; }
              .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls .media-microphone-buttons button:first-of-type {
                color: #9FC48C; }
              .media-menu .media-microphone .media-microphone-wrapper .media-microphone-box .media-microphone-controls .media-microphone-buttons button:last-of-type {
                color: #B25555; }
  .media-menu .media-chat {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 3vh;
    position: relative;
    transition: .4s linear;
    right: -355px; }
    .media-menu .media-chat .media-chat-show button {
      background-color: #639EB4;
      border: none;
      color: White;
      cursor: pointer;
      width: 65px;
      outline: none;
      position: relative;
      left: 30px;
      z-index: 1;
      font-size: 22px;
      height: 75px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px; }
      .media-menu .media-chat .media-chat-show button i {
        position: relative;
        right: 10px;
        transform: rotate(90deg); }
    .media-menu .media-chat .media-chat-wrapper {
      position: relative;
      z-index: 2;
      display: flex;
      background-color: #fff;
      flex-flow: column wrap;
      border: solid 1px #639EB4;
      border-radius: 25px; }
      .media-menu .media-chat .media-chat-wrapper .media-chat-content {
        padding: 18px 24px;
        height: 345px;
        overflow: auto;
        display: flex;
        flex-direction: column; }
        .media-menu .media-chat .media-chat-wrapper .media-chat-content .media-chat-massage-wrapper {
          display: inline;
          margin: 1vh 0; }
          .media-menu .media-chat .media-chat-wrapper .media-chat-content .media-chat-massage-wrapper .media-chat-massage {
            padding: 8px 12px;
            font-size: 16px;
            color: black;
            display: inline;
            border-radius: 20px;
            max-width: 175px; }
          .media-menu .media-chat .media-chat-wrapper .media-chat-content .media-chat-massage-wrapper .userMassage {
            background-color: #639EB4;
            color: White;
            float: right; }
          .media-menu .media-chat .media-chat-wrapper .media-chat-content .media-chat-massage-wrapper .massage {
            background-color: #DCDCDC;
            float: left; }
      .media-menu .media-chat .media-chat-wrapper .media-chat-bottom {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #639EB4;
        padding: 18px 24px;
        border-radius: 25px; }
        .media-menu .media-chat .media-chat-wrapper .media-chat-bottom .media-chat-addButton button {
          border: none;
          color: white;
          background-color: transparent;
          position: relative;
          right: 3px;
          cursor: pointer; }
        .media-menu .media-chat .media-chat-wrapper .media-chat-bottom .media-chat-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: #fff;
          border-radius: 25px; }
          .media-menu .media-chat .media-chat-wrapper .media-chat-bottom .media-chat-text .media-chat-sendButton button {
            border: none;
            background-color: transparent;
            color: #639EB4;
            font-weight: 300;
            cursor: pointer;
            font-size: 18px;
            outline: none; }
          .media-menu .media-chat .media-chat-wrapper .media-chat-bottom .media-chat-text input {
            outline: none;
            border-radius: 25px;
            padding: 8px 16px;
            border: none; }

/*# sourceMappingURL=main.css.map */
