@import "templates";

.index {
  .navigation {
    width: 100%;
    max-width: 70px;
    position: fixed;
    z-index: 50;
    right: 0;
    background-color: rgba(52, 147, 224, .3);
    top: 0;
    height: 100vh;

    .text {
      user-select: none;
      font-size: 3rem;
      font-weight: 700;
      color: white;
      text-align: center;
    }

    .nav-list {
      margin-top: 3rem;
      padding-left: 0;

      li {
        margin: 1rem 0;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        &:last-of-type {
          a {
            color: $yellow;
          }
        }

        a {
          z-index: 1000;
          text-decoration: none;
          text-transform: uppercase;
          color: #99E1E5;
          user-select: none;
          position: absolute;
          right: -325px;
          font-size: 1.8rem;
          font-weight: 700;
          width: 250px;
          text-align: right;
          transition: all .2s ease-in-out;
        }

        .nav-list-box {
          background-color: red;
          height: 32px;
          width: 32px;
        }

        &:nth-of-type(1) {
          .nav-list-box {
            background-color: $red;
          }
        }

        &:nth-of-type(2) {
          .nav-list-box {
            background-color: $darkTurquoise;
          }
        }

        &:nth-of-type(3) {
          .nav-list-box {
            background-color: $purple;
          }
        }

        &:nth-of-type(4) {
          .nav-list-box {
            background-color: $lime;
          }
        }

        &:nth-of-type(5) {
          .nav-list-box {
            background-color: $turquoise;
          }
        }

        &:nth-of-type(6) {
          .nav-list-box {
            background-color: $darkRed;
          }
        }

        &:nth-of-type(7) {
          .nav-list-box {
            background-color: $darkBlue;
          }
        }

        &:nth-of-type(8) {
          .nav-list-box {
            background-color: $lime;
          }
        }

        &:nth-of-type(9) {
          .nav-list-box {
            background-color: $pink;
          }
        }

        &:nth-of-type(10) {
          .nav-list-box {
            background-color: $green;
          }
        }

        &:nth-of-type(11) {
          .nav-list-box {
            background-color: $yellow;
          }
        }
      }

      .active {
        right: 85px;
        transition: all .2s ease-in-out;
      }
    }

    .menu-toggle {
      text-align: center;
      margin-top: 50px;
      display: flex;
      justify-content: center;

      img {
        cursor: pointer;
        width: 32px;
        height: 32px;
      }
    }
  }

  .events-block {
    .header {
      height: 150px;
      background-color: $yellow;
      display: flex;
      align-items: center;

      .logotype {
        img {
          position: absolute;
          right: 75px;
          width: 100%;
          max-width: 200px;
          top: 0;
        }
      }

      .text {
        img {
          width: 1200px;
        }
      }
    }

    .content {
      display: flex;

      .title {
        background-image: url('../images/left.svg');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 4.5rem;
        height: calc(100vh - 150px);
        width: 110px;
        color: white;
        background-color: $red;
        text-align: center;

        .text {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          margin: auto 0;
        }
      }

      .banner {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: calc(100vh - 150px);
        background-image: url('../../assets/images/events-bg.svg');

        .banner-text {
          width: 100%;
          height: inherit;
          background-color: rgba(1, 1, 1, .7);
          padding-left: 70px;
          padding-right: 70px;
          position: relative;
          text-transform: uppercase;

          .banner-title {
            padding-top: 80px;
            font-size: 6rem;
            color: white;
            font-weight: 700;
          }

          .banner-description {
            max-width: 850px;
            color: white;
            font-size: 1.6rem;
            font-weight: 500;
            margin-top: 50px;
          }

          .banner-link {
            position: relative;
            right: 70px;
            text-align: center;
            font-size: 3rem;
            margin-top: 200px;

            a {
              color: white;
              padding: 25px 100px;
              border: solid 7px white;
              text-decoration: none;
            }
          }

          .banner-anchor-link {
            display: flex;
            justify-content: center;
            margin-top: 75px;
            position: relative;
            img {
              position: relative;
              right: 70px;
              height: 40px;
              width: 30px;
              transition: all .2s linear;

              &:hover {
                transition: all .2s linear;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  .news-block {
    height: 100vh;
    display: flex;

    .left-title {
      background-image: url('../images/left.svg');
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 4.5rem;
      height: 100vh;
      width: 110px;
      color: white;
      background-color: $darkTurquoise;
      text-align: center;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: auto 0;
      }
    }

    .content {
      width: 100%;

      .top {
        padding-top: 50px;
        width: 100%;
        text-align: center;
        border-bottom: 4px solid $darkTurquoise;
        font-size: 3.6rem;
        padding-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        -webkit-box-shadow: 0 3px 10px 1px #707070;
        box-shadow: 0 3px 10px 1px #707070;

        span {
          color: $darkTurquoise;
        }

        a {
          color: black;
          text-decoration: none;
          transition: all .50ms linear;
          padding-bottom: 19px;

          &:hover {
            border-bottom: solid 5px $red;
            transition: all .50ms linear;
          }
        }
      }

      .middle {
        max-width: 65%;
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .element {
          margin: 12.5px;
          width: 100%;
          max-width: 350px;
          height: 525px;
          -webkit-box-shadow: 0 10px 20px 1px #606060;
          box-shadow: 0 10px 20px 1px #606060;
          transition: all .2s linear;

          &:hover {
            transform: scale(1.05);
            transition: all .2s linear;
          }

          img {
            padding: 0;
            width: 100%;
            height: 215px;
          }

          .element-info {
            padding: 0 15px;
            display: flex;
            justify-content: start;
            text-transform: uppercase;
            align-items: center;
            font-weight: 700;
            font-size: 1.2rem;

            .category {
              color: $red;

              a {
                text-decoration: none;
                color: $red;
              }
            }

            span {
              margin: 0 4px;
            }
          }

          .element-title {
            padding: 0 15px;
            margin-top: 15px;
            font-weight: 700;
            font-size: 2rem;
          }

          .element-description {
            font-size: 1.5rem;
            padding: 0 15px;
            font-weight: 500;
            margin-top: 15px;
            color: #606060;
          }
        }
      }

      .bottom {
        .news-link {
          text-align: center;
          font-size: 3rem;
          margin-top: 75px;

          a {
            text-transform: uppercase;
            color: black;
            font-size: 3rem;
            padding: 15px 200px;
            border: solid 7px $red;
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }

  .video-block {
    display: flex;
    height: 100vh;

    .left-title {
      background-image: url('../images/left.svg');
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 4.5rem;
      height: 100vh;
      width: 110px;
      color: white;
      background-color: $purple;
      text-align: center;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: auto 0;
      }
    }

    .content {
      width: 100%;
      position: relative;

      .video {

        video {
          object-fit: cover;
          width: 99.99999%;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          position: absolute;
        }
      }

      .text {
        position: absolute;
        z-index: 2;
        height: 100vh;
        width: 100%;

        .top {
          position: relative;

          a {
            top: 35px;
            text-transform: uppercase;
            position: absolute;
            left: 100px;
            width: 600px;
            font-size: 3rem;
            color: white;
            font-weight: 700;
            text-decoration: none;
            transform: rotate(3deg);
          }
        }

        .bottom {
          position: relative;
          height: 100vh;
          width: 100%;
          .links-list {
            position: absolute;
            bottom: 0;
            top: 90%;
            width: 100%;
            ul {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              width: 100%;
              max-width: 75%;
              margin: 0 auto;
              li {
                list-style-type: none;
                a {
                  color: white;
                  text-decoration: none;
                  font-size: 2.4rem;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }

  .reviews-block {
    display: flex;
    height: 100vh;
    background-image: url('../images/reviews-bg.svg');
    background-size: cover;
    .left-title {
      background-image: url('../images/left.svg');
      background-size: cover;
      background-repeat: no-repeat;
      font-size: 4.5rem;
      height: 100vh;
      width: 110px;
      color: white;
      background-color: $lime;
      text-align: center;

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: auto 0;
      }
    }
    .content {
      width: 100%;
      .top {
        align-items: center;
        margin: 0 auto;
        margin-top: 35px;
        width: 100%;
        max-width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        img {
          &:first-of-type {
            height: 250px;
            width: 275px;
            position: relative;
            top: 55px;
            }
          &:last-of-type {
            height: 385px;
            width: 385px;
          }
        }
      }
      .middle {
        margin-top: 100px;
        position: relative;
        width: 100%;
        background-color: $lime;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/reviews-slider-bg.svg');
        .logo {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            position: absolute;
            height: 150px;
            width: 150px;
            top: -75px;
          }
        }
        .wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          height: 300px;
          margin: 0 auto;
          max-width: 50%;
          justify-content: space-between;
          .left,.right{
            img {
              cursor: pointer;
              height: 75px;
              width: 45px;
            }
          }
          .right {
            img {
              transform: rotate(180deg);
            }
          }
          .reviews-slider {
            width: 100%;
            max-width: 425px;
            .review {
              text-align: center;
              .author {
                margin: 16px 0;
                text-transform: uppercase;
                font-size: 2rem;
                color:$yellow;

              }
            }
          }
        }
      }
      .bottom {
        text-align: right;
        font-size: .9rem;
        font-weight: 700;
        padding-right: 75px;
        text-transform: uppercase;
      }
    }
  }

}