@import "templates";
body {
  font-size: 16px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 0;
}

body {
  -ms-overflow-style: none;
}

body {
  overflow: -moz-scrollbars-none;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
}

//@import "../../../node_modules/codyhouse-framework/main/assets/css/base";
//@import "../../../node_modules/codyhouse-framework/main/assets/css/style";
//@import "schedule";
@import "index-page";
@import "errors";
@import "payment";




@import "media";






