/*
Error: $hue: "var(--color-bg-h)" is not a number for `hsla'
        on line 95 of codyhouse-framework/main/assets/css/base/_mixins.scss
        from line 22 of codyhouse-framework/main/assets/css/_base.scss
        from line 10 of codyhouse-framework/main/assets/css/style.scss
        from line 1 of schedule.scss

90:   			}
91:   		}
92:   	}
93: 
94:   	@include breakpoint(lg) {
95:   		li {
96: 
97:   			&::after {
98:   				width: calc(100% - 60px);
99:   				left: 60px;
100:   			}

Backtrace:
codyhouse-framework/main/assets/css/base/_mixins.scss:95
codyhouse-framework/main/assets/css/_base.scss:22
codyhouse-framework/main/assets/css/style.scss:10
schedule.scss:1
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:310:in `reformat_argument_error'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:149:in `rescue in _perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:122:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:405:in `visit_return'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:251:in `each'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:250:in `catch'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:132:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:433:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:301:in `block (2 levels) in visit_if'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:301:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:301:in `block in visit_if'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:300:in `visit_if'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $hue: \"var(--color-bg-h)\" is not a number for `hsla'\A         on line 95 of codyhouse-framework/main/assets/css/base/_mixins.scss\A         from line 22 of codyhouse-framework/main/assets/css/_base.scss\A         from line 10 of codyhouse-framework/main/assets/css/style.scss\A         from line 1 of schedule.scss\A \A 90:   			}\A 91:   		}\A 92:   	}\A 93: \A 94:   	@include breakpoint(lg) {\A 95:   		li {\A 96: \A 97:   			&::after {\A 98:   				width: calc(100% - 60px);\A 99:   				left: 60px;\A 100:   			}"; }
