<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/media.css">
    <script src="https://use.fontawesome.com/44959e12e1.js"></script>
    <title>Document</title>
</head>
<body>


<div class="tools-menu" id="toolsMenu">

    <div class="tools-menu-wrapper" >
        <div class="tools-menu-list">
            <div class="tools-list-item yellow">
                <i class="fa fa-pencil" aria-hidden="true" title="Кисть"></i>
            </div>
            <div class="tools-list-item yellow"></div>
            <div class="tools-list-item yellow">
                <i class="fa fa-eraser" aria-hidden="true" title="Ластик"></i>
            </div>
            <div class="tools-list-item yellow">
                <i class="fa fa-text-width" aria-hidden="true" title="Текст"></i>
            </div>
            <div class="tools-list-item yellow">
                <i class="fa fa-square" aria-hidden="true" title="Квадрат"></i>
                <i class="fa fa-caret-right" aria-hidden="true" title="Большие фигур"></i>

            </div>
            <div class="tools-list-item blue">
                <i class="fa fa-calculator" aria-hidden="true" title="Калькулятор"></i>
            </div>
            <div class="tools-list-item blue">

                <i class="fa fa-caret-right" aria-hidden="true" title="Больше формул"></i>
            </div>
            <div class="tools-list-item red">
                <i class="fa fa-search-plus" aria-hidden="true" title="Увеличить изображение"></i>
            </div>
            <div class="tools-list-item red">
                <i class="fa fa-search-minus" aria-hidden="true" title="Уменьшить изоббражение"></i>
            </div>
            <div class="tools-list-item red">
                <i class="fa fa-hand-rock-o" aria-hidden="true" title="Перемещение"></i>
            </div>
            <div class="tools-list-item red">
                <i class="fa fa-desktop" aria-hidden="true" title="На весь экран"></i>
            </div>
            <div class="tools-list-item green">
                <i class="fa fa-picture-o" aria-hidden="true" title="Загрузить картинку"></i>
            </div>
        </div>
    </div>

    <div class="tools-menu-show">
        <button id="tools-menu-showButton">
            <i class="fa fa-caret-right" aria-hidden="true" id="tools-menu-showButtonI">

            </i>
        </button>
    </div>
</div>
<div class="work-place"></div>
<div class="media-menu"></div>


<script src="../static/js/main.js"></script>
</body>
</html>