@import "templates";
// import SCSS file with mixins,fonts and variables
@import "reset";
//import reset SCSS file
html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  font-family: Ponder-Light, sans-serif;
  background-color: #EDF5F9;
}

// remove scroll bar of body elem
body::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  width: 0;
}

//! remove scroll bar of body elem !
// nav menu styles
.navigation-menu {
  position: fixed;
  right: 0;
  // main styles of nav menu block
  .menu {
    // ul list styles of nav menu
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 100%;
    padding-right: 12px;
    position: relative;

    .turnOn-arrow {
      position: absolute;
      width: 105px;
      height: 155px;
      top: -105px;
      right: 25px;
      transform: rotate(-15deg);
    }

    .menu-item {
      // li item of ul list at nav menu
      display: flex;
      align-items: center;
      margin: 1vh 0;
      justify-content: space-between;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: 500;

      a {
        // link styles at nav menu
        position: relative;
        top: 1px;
        padding: 4px 6px;
        text-decoration: none;
        color: #000000;
        font-weight: 500;
      }

      div {
        // decor styles of li item
        height: 28px;
        width: 28px;
        margin-left: 20px;
      }

      // color for decor boxes at li
      &:nth-of-type(2) {
        border: solid 3px $red;

        div {
          background-color: $red;
        }
      }

      &:nth-of-type(3) {
        border: solid 3px $lightBlue;

        div {
          background-color: $lightBlue;
        }
      }

      &:nth-of-type(4) {
        border: solid 3px $purple;

        div {
          background-color: $purple;
        }
      }

      &:nth-of-type(5) {
        border: solid 3px $green;

        div {
          background-color: $green;
        }
      }

      &:nth-of-type(6) {
        border: solid 3px $turquoise;

        div {
          background-color: $turquoise;
        }
      }

      &:nth-of-type(7) {
        border: solid 3px $darkRed;

        div {
          background-color: $darkRed;
        }
      }

      &:nth-of-type(8) {
        border: solid 3px $darkTurquoise;

        div {
          background-color: $darkTurquoise;
        }
      }

      &:nth-of-type(9) {
        border: solid 3px $yellow;

        div {
          background-color: $yellow;
        }
      }
    }
  }
}

// nav menu styles
// main styles
// header styles
.header {
  background-image: url(../img/header-bg.svg);
  background-size: cover;
  padding: 46px 0;

  h1 {
    text-transform: uppercase;
    font-size: 7rem;
    text-align: center;
    font-weight: 700;
  }
}

// ! header styles
// repeat class
.left-side {
  font-weight: 700;
  text-align: center;
  word-wrap: break-word;
  font-size: 6rem;
  padding: 35px 0;
  width: 100px;
  text-transform: uppercase;

  p {
    position: relative;
  }
}

// !repeat class
// event section
.events {
  height: 100vh;
  // main container events section
  display: flex;
  justify-content: space-between;
  background-image: url('../img/events-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;

  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $red;

    p {
      top: 10%;
    }
  }

  .events-centralBlock {
    width: 100%;
    margin: 8vh 10vw;
    margin-right: 14vw;
    box-sizing: border-box;
    // event central container with banner markup
    .bottom-flower {
      // styles for flower box
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black;

      img {
        width: 215px;
        height: 250px;
        position: absolute;
        bottom: 0;
        left: -20px;
      }
    }

    .wrapper {
      // central container wrap styles
      width: 85%;
      margin: 0 auto;
      border: solid 3px black;

      .heading {
        // heading styles at central container
        padding: 20px;
        box-sizing: border-box;
        border-bottom: solid 3px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // main styles at heading
        .list-image {
          position: absolute;
          right: 50px;
          top: 35px;
          // list image at heading
          img {
            height: 92px;
            width: 95px;
          }
        }

        .circles {
          i {
            cursor: pointer;
            margin: 0 0.3vw;
          }
        }
      }

      // heading styles at central container
      // content styles at central container
      .content {
        padding: 5vh 2vw;

        .title {
          padding-bottom: 4vh;
          text-transform: uppercase;
          font-size: 3rem;
          text-align: center;
          font-weight: 700;
          // title of central container styles
        }

        .banner {
          // banner markup styles
          box-sizing: border-box;
          border: solid 3px black;

          img {
            width: 100%;
            height: 450px;
          }
        }
      }

      // content styles at central container
    }
  }
}

//! events section style !
// news section style
.news {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  // news main container stylees
  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $lightBlue;

    p {
      top: 15%;

    }
  }

  // news centralBlock styles
  .news-centralBlock {
    margin: 10vh auto;
    border: solid 3px black;
    padding: 15px;
    overflow-y: auto;
    // !news centralBlock styles
    // ! custom scrollbar styles
    &::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 5px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background-color: $lightBlue
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color: #6dc0c8;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #56999f;
    }

    &::-webkit-resizer {
      background-repeat: no-repeat;
      width: 4px;
      height: 0;
    }

    &::-webkit-scrollbar {
      width: 25px;
    }

    // ! custom scrollbar styles
    .wrapper {
      height: 650px;
      // news main wrapper styles
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);

      .news-component {
        // styles a news component markup
        height: 425px;
        width: 525px;
        border: solid 3px black;
        position: relative;

        .news-image {
          position: absolute;
          z-index: 1;
          top: 0;

          img {
            width: 100%;
            height: 425px;
          }
        }

        .content-box {
          position: absolute;
          z-index: 2;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.5);
          // wrap of content at news - component
          .title {
            padding: 6px 10px;
            font-size: 1.6rem;

            a {
              text-decoration: underline #383838;
              color: black;
            }

            // title styles at news post
          }

          .content {
            padding: 10px 10px;
            font-size: 1.1rem;
            color: $darkTurquoise;
            //  content styles at news post
          }

          .news-date {
            color: $darkTurquoise;
            font-size: 1.1rem;
            padding: 4px 10px;
            // date styles at news post
          }
        }
      }
    }
  }
}

// !news section style!
// reviews section style
.reviews {
  height: 100vh;
  background-image: url('../img/reviews-bg.svg');
  background-size: cover;
  display: flex;
  justify-content: space-between;

  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $green;

    p {
      top: 15%;
    }
  }

  .reviews-centralBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .bottom-flower {
      top: 20vh;
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black;
      width: 100%;

      img {
        width: 370px;
        height: 270px;
        position: absolute;
        bottom: 0;
      }

      img:nth-of-type(1) {
        left: 13vw;
      }

      img:nth-of-type(2) {
        left: 22vw;
      }

      img:nth-of-type(3) {
        right: 13vw;
      }
    }
  }

  .wrapper {
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .review-prev, .review-next {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      img {
        width: 46px;
        height: 58px;
      }
    }

    .review-next {
      img {
        transform: scale(-1, 1);
      }
    }

    .review-component {
      margin: 0 1vw;
      border: solid 3px black;
      padding: 15px;

      .title {
        padding: 10px 0;
      }
    }

    .small {
      font-size: 1rem;
      width: 225px;
    }

    .big {
      padding-bottom: 35px;
      width: 425px;
      font-size: 2rem;
    }
  }
}

// !reviews section style!
// about us section style
.aboutUs {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  // about us section
  .left-side {
    background-color: $purple;
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;

    p {
      top: 15%;
    }
  }

  .aboutUs-centralBlock {
    // about us centralBlock
    width: 100%;
    padding: 0 10vw;

    .wrapper {
      //main wrapper at aboutUs centralBlock
      display: flex;
      justify-content: center;
      position: relative;
      //
      .penguin {
        img {
          width: 1200px;
          height: 830px;
          opacity: 0.5;
          // properties of penguin image
        }
      }

      .link-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        padding-top: 100px;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        // flex container with pages links
        a {
          font-weight: 700;
          padding: 2vh 1vw;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 3.2rem;
          border: solid 4px $purple;
          border-radius: 10px;
        }

        a:nth-of-type(1) {
          align-self: flex-end;
        }

        a:nth-of-type(2) {
          align-self: flex-start;
          position: relative;
          // position links into block
        }

        a:nth-of-type(3) {
          align-self: flex-end;
        }

        // links styles at flex container
      }

      .knowMore {
        position: absolute;
        right: 5vw;
        top: 30vh;
        text-transform: uppercase;
        color: $purple;
        font-size: 2rem;
        text-decoration: none;
        transform: rotate(10deg);
        font-family: Ponder, sans-serif;
        // know more link styles
      }
    }
  }
}

//! about us section style!
// contacts section
.contacts {
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .left-side {
    background-image: url('../img/events-leftSide-bg.svg');
    background-size: contain;
    background-color: $turquoise;

    p {
      top: 10%;
    }
  }

  .contacts-centralBlock {
    margin: 0 auto;

    .wrapper {
      display: flex;

      .left-side {
        width: unset;
        background-image: none;
        background-size: unset;
        font-size: 2rem;
        background: transparent;


      }

      .knowMore {
        position: absolute;
      }
    }
  }
}

// !contacts section!
//schedule section
.schedule {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  // main styles of schedule section
  .left-side {
    background-image: url('../img/events-leftSide-bg.svg');
    background-size: contain;
    background-color: $darkRed;
    font-size: 5rem;
    // styles left-side of schedule section
    p {
      top: 5%;
    }
  }

  .schedule-centralBlock {
    // schedule main centralBlock styles
    margin: auto;

    .wrapper {
      // main wrap styles
      position: relative;

      .link {
        // styles of khon more link
        position: absolute;
        font-size: 2rem;
        top: -50px;

        a {
          text-decoration: none;
          font-family: Ponder, sans-serif;
          color: $darkRed;

          img {
            transform: rotate(-10deg);
            position: absolute;
            height: 75px;
            width: 65px;
            // arrow into link styles
          }
        }
      }

      .schedule-image {
        bottom: -50px;
        position: relative;
        // main penguin image block at section
        .link {
          // link styles into image
          position: absolute;
          top: 30%;
          left: 17vw;
          font-size: 6rem;
          text-transform: uppercase;

          a {
            color: $darkRed;
            text-decoration: $darkRed underline;
          }
        }

        img {
          // styles of main image
          height: 730px;
          width: 1300px;
        }
      }
    }
  }
}

//!schedule section!
// signUp section
.signUp {
  background-color: #F7E85C;
  height: 100vh;
  background-image: url('../img/signUp-bg.svg');
  background-size: cover;
  // main section styles
  .wrapper {
    // section wrapper styles
    height: 100%;
    margin: 0 auto;
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .signUp_signIn-module {
      // styles for signup form module
      .sign-btn {
        font-size: 3rem;
        text-transform: uppercase;
        background: transparent;
        cursor: pointer;
        border: none;
        width: 400px;
        outline: none;
        transition: .4s ease-in-out;
        padding: 1.5vh 0;
      }

      .sign-btn:hover {
        background: #000;
        color: white;
        transition: .4s ease-in-out;
        text-decoration: underline white;
      }
    }

    .signIn-form {
      // form styles
      width: 100%;

      input[type='text'] {
        display: block;
        width: 100%;
        margin: 1.4rem 0;
        border: none;
        outline: none;
        border-bottom: solid 2px black;
        background: transparent;
        font-size: 2rem;

        &:focus::-webkit-input-placeholder {
          color: transparent;
        }

        &:focus:-moz-placeholder {
          color: transparent;
        }

        /* FF 4-18 */
        &:focus::-moz-placeholder {
          color: transparent;
        }

        /* FF 19+ */
        &:focus:-ms-input-placeholder {
          color: transparent;
        }

        /* IE 10+ */
      }

      input[type='text']:nth-of-type(2) {
        margin-bottom: 0;
      }

      .error {
        // error text box styles
        margin: 1vh 0;
        color: $darkRed;
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .error-disabled {
        // disable text box styles/ this class is active when server didn't give negative answe
        display: none;
      }

      .forgot {
        // forgot pass link styles
        margin: 1vh 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: right;

        a {
          color: #383838;
          text-decoration: none;
        }
      }

      .submit {
        margin: 2vh 0;
        width: 100%;
        text-align: center;
        // submit button and wrap styles
        input[type='submit'] {
          font-size: 3rem;
          text-transform: uppercase;
          background: #000;
          cursor: pointer;
          border: none;
          width: 400px;
          outline: none;
          color: white;
          transition: .4s ease-in-out;
          padding: 1.5vh 0;
        }
      }

      .personality {
        // personality box styles
        font-weight: 700;
        margin: 0 auto;
        width: 35%;
        text-align: center;
        color: black;
        font-size: 0.7rem;
        text-transform: uppercase;

        span {
          position: relative;
          bottom: 4px;

          a {
            color: black;
          }
        }
      }
    }
  }
}

// !signUp section!

