@font-face {
  font-family: "Pinkment";
  src: url("../assets/Pinkment.ttf"); }
@font-face {
  font-family: "Ponder-Black";
  src: url("../assets/Ponder-Black.ttf"); }
@font-face {
  font-family: "Ponder-Light";
  src: url("../assets/Ponder-Light.ttf"); }
@font-face {
  font-family: "Ponder-Medium";
  src: url("../assets/Ponder-Medium.ttf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  font-family: sans-serif; }

body {
  overflow-x: hidden;
  font-family: Ponder-Light, sans-serif;
  background-color: #EDF5F9; }

body::-webkit-scrollbar {
  width: 0; }

body {
  overflow: -moz-scrollbars-none; }

body::-webkit-scrollbar {
  width: 0; }

.navigation-menu {
  position: fixed;
  right: 0; }
  .navigation-menu .menu {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 100%;
    padding-right: 12px;
    position: relative; }
    .navigation-menu .menu .turnOn-arrow {
      position: absolute;
      width: 105px;
      height: 155px;
      top: -105px;
      right: 25px;
      transform: rotate(-15deg); }
    .navigation-menu .menu .menu-item {
      display: flex;
      align-items: center;
      margin: 1vh 0;
      justify-content: space-between;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: 500; }
      .navigation-menu .menu .menu-item a {
        position: relative;
        top: 1px;
        padding: 4px 6px;
        text-decoration: none;
        color: #000000;
        font-weight: 500; }
      .navigation-menu .menu .menu-item div {
        height: 28px;
        width: 28px;
        margin-left: 20px; }
      .navigation-menu .menu .menu-item:nth-of-type(2) {
        border: solid 3px #B95253; }
        .navigation-menu .menu .menu-item:nth-of-type(2) div {
          background-color: #B95253; }
      .navigation-menu .menu .menu-item:nth-of-type(3) {
        border: solid 3px #C6E8F1; }
        .navigation-menu .menu .menu-item:nth-of-type(3) div {
          background-color: #C6E8F1; }
      .navigation-menu .menu .menu-item:nth-of-type(4) {
        border: solid 3px #6E64A4; }
        .navigation-menu .menu .menu-item:nth-of-type(4) div {
          background-color: #6E64A4; }
      .navigation-menu .menu .menu-item:nth-of-type(5) {
        border: solid 3px #A3CB8F; }
        .navigation-menu .menu .menu-item:nth-of-type(5) div {
          background-color: #A3CB8F; }
      .navigation-menu .menu .menu-item:nth-of-type(6) {
        border: solid 3px #62A5BC; }
        .navigation-menu .menu .menu-item:nth-of-type(6) div {
          background-color: #62A5BC; }
      .navigation-menu .menu .menu-item:nth-of-type(7) {
        border: solid 3px #7D2424; }
        .navigation-menu .menu .menu-item:nth-of-type(7) div {
          background-color: #7D2424; }
      .navigation-menu .menu .menu-item:nth-of-type(8) {
        border: solid 3px #143449; }
        .navigation-menu .menu .menu-item:nth-of-type(8) div {
          background-color: #143449; }
      .navigation-menu .menu .menu-item:nth-of-type(9) {
        border: solid 3px #F7E85C; }
        .navigation-menu .menu .menu-item:nth-of-type(9) div {
          background-color: #F7E85C; }

.header {
  background-image: url(../img/header-bg.svg);
  background-size: cover;
  padding: 46px 0; }
  .header h1 {
    text-transform: uppercase;
    font-size: 7rem;
    text-align: center;
    font-weight: 700; }

.left-side {
  font-weight: 700;
  text-align: center;
  word-wrap: break-word;
  font-size: 6rem;
  padding: 35px 0;
  width: 100px;
  text-transform: uppercase; }
  .left-side p {
    position: relative; }

.events {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/events-bg.svg");
  background-size: cover;
  background-repeat: no-repeat; }
  .events .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: #B95253; }
    .events .left-side p {
      top: 5%; }
  .events .events-centralBlock {
    width: 100%;
    margin: 8vh 10vw;
    margin-right: 14vw;
    box-sizing: border-box; }
    .events .events-centralBlock .bottom-flower {
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black; }
      .events .events-centralBlock .bottom-flower img {
        width: 215px;
        height: 250px;
        position: absolute;
        bottom: 0;
        left: -20px; }
    .events .events-centralBlock .wrapper {
      width: 85%;
      margin: 0 auto;
      border: solid 3px black; }
      .events .events-centralBlock .wrapper .heading {
        padding: 20px;
        box-sizing: border-box;
        border-bottom: solid 3px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .events .events-centralBlock .wrapper .heading .list-image {
          position: absolute;
          right: 50px;
          top: 35px; }
          .events .events-centralBlock .wrapper .heading .list-image img {
            height: 92px;
            width: 95px; }
        .events .events-centralBlock .wrapper .heading .circles i {
          cursor: pointer;
          margin: 0 0.3vw; }
      .events .events-centralBlock .wrapper .content {
        padding: 5vh 2vw; }
        .events .events-centralBlock .wrapper .content .title {
          padding-bottom: 4vh;
          text-transform: uppercase;
          font-size: 3rem;
          text-align: center;
          font-weight: 700; }
        .events .events-centralBlock .wrapper .content .banner {
          box-sizing: border-box;
          border: solid 3px black; }
          .events .events-centralBlock .wrapper .content .banner img {
            width: 100%;
            height: 650px; }

.news {
  display: flex;
  justify-content: space-between; }
  .news .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: #C6E8F1; }
    .news .left-side p {
      top: 15%; }
  .news .news-centralBlock {
    margin: 10vh 15vw;
    border: solid 3px black;
    padding: 15px;
    max-height: 920px;
    overflow-y: auto; }
    .news .news-centralBlock::-webkit-scrollbar-button {
      background-repeat: no-repeat;
      width: 5px;
      height: 0; }
    .news .news-centralBlock::-webkit-scrollbar-track {
      background-color: #C6E8F1; }
    .news .news-centralBlock::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color: #6dc0c8; }
    .news .news-centralBlock::-webkit-scrollbar-thumb:hover {
      background-color: #56999f; }
    .news .news-centralBlock::-webkit-resizer {
      background-repeat: no-repeat;
      width: 4px;
      height: 0; }
    .news .news-centralBlock::-webkit-scrollbar {
      width: 25px; }
    .news .news-centralBlock .wrapper {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr); }
      .news .news-centralBlock .wrapper .news-component {
        height: 400px;
        width: 525px;
        border: solid 3px black;
        position: relative; }
        .news .news-centralBlock .wrapper .news-component .news-image {
          position: absolute;
          z-index: 1;
          top: 0; }
          .news .news-centralBlock .wrapper .news-component .news-image img {
            width: 100%;
            height: 400px; }
        .news .news-centralBlock .wrapper .news-component .content-box {
          position: absolute;
          z-index: 2;
          bottom: 0;
          background-color: rgba(255, 255, 255, 0.5); }
          .news .news-centralBlock .wrapper .news-component .content-box .title {
            padding: 6px 10px;
            font-size: 1.6rem; }
            .news .news-centralBlock .wrapper .news-component .content-box .title a {
              text-decoration: underline #383838;
              color: black; }
          .news .news-centralBlock .wrapper .news-component .content-box .content {
            padding: 10px 10px;
            font-size: 1.1rem;
            color: #143449; }
          .news .news-centralBlock .wrapper .news-component .content-box .news-date {
            color: #143449;
            font-size: 1.1rem;
            padding: 4px 10px; }

.reviews {
  height: 100vh;
  background-image: url("../img/reviews-bg.svg");
  background-size: cover;
  display: flex;
  justify-content: space-between; }
  .reviews .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: #A3CB8F; }
    .reviews .left-side p {
      top: 15%; }
  .reviews .reviews-centralBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; }
    .reviews .reviews-centralBlock .bottom-flower {
      top: 20vh;
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black;
      width: 100%; }
      .reviews .reviews-centralBlock .bottom-flower img {
        width: 370px;
        height: 270px;
        position: absolute;
        bottom: 0; }
      .reviews .reviews-centralBlock .bottom-flower img:nth-of-type(1) {
        left: 13vw; }
      .reviews .reviews-centralBlock .bottom-flower img:nth-of-type(2) {
        left: 22vw; }
      .reviews .reviews-centralBlock .bottom-flower img:nth-of-type(3) {
        right: 13vw; }
  .reviews .wrapper {
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .reviews .wrapper .review-prev, .reviews .wrapper .review-next {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer; }
      .reviews .wrapper .review-prev img, .reviews .wrapper .review-next img {
        width: 46px;
        height: 58px; }
    .reviews .wrapper .review-next img {
      transform: scale(-1, 1); }
    .reviews .wrapper .review-component {
      margin: 0 1vw;
      border: solid 3px black;
      padding: 15px; }
      .reviews .wrapper .review-component .title {
        padding: 10px 0; }
    .reviews .wrapper .small {
      font-size: 1rem;
      width: 225px; }
    .reviews .wrapper .big {
      padding-bottom: 35px;
      width: 425px;
      font-size: 2rem; }

.aboutUs {
  height: 100vh;
  display: flex;
  justify-content: space-between; }
  .aboutUs .left-side {
    background-color: #6E64A4;
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain; }
    .aboutUs .left-side p {
      top: 15%; }
  .aboutUs .aboutUs-centralBlock {
    width: 100%;
    padding: 0 10vw; }
    .aboutUs .aboutUs-centralBlock .wrapper {
      display: flex;
      justify-content: center;
      position: relative; }
      .aboutUs .aboutUs-centralBlock .wrapper .penguin img {
        width: 1200px;
        height: 830px;
        opacity: 0.5; }
      .aboutUs .aboutUs-centralBlock .wrapper .link-container {
        display: flex;
        flex-direction: column;
        height: 90%;
        padding-top: 100px;
        justify-content: space-between;
        position: absolute;
        width: 100%; }
        .aboutUs .aboutUs-centralBlock .wrapper .link-container a {
          font-weight: 700;
          padding: 2vh 1vw;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 3.2rem;
          border: solid 4px #6E64A4;
          border-radius: 10px; }
        .aboutUs .aboutUs-centralBlock .wrapper .link-container a:nth-of-type(1) {
          align-self: flex-end; }
        .aboutUs .aboutUs-centralBlock .wrapper .link-container a:nth-of-type(2) {
          align-self: flex-start;
          position: relative; }
        .aboutUs .aboutUs-centralBlock .wrapper .link-container a:nth-of-type(3) {
          align-self: flex-end; }
      .aboutUs .aboutUs-centralBlock .wrapper .knowMore {
        position: absolute;
        right: 5vw;
        top: 30vh;
        text-transform: uppercase;
        color: #6E64A4;
        font-size: 2rem;
        text-decoration: none;
        transform: rotate(10deg);
        font-family: Ponder, sans-serif; }

.contacts {
  height: 100vh;
  display: flex;
  justify-content: space-between; }
  .contacts .left-side {
    background-image: url("../img/events-leftSide-bg.svg");
    background-size: contain;
    background-color: #62A5BC; }
    .contacts .left-side p {
      top: 10%; }
  .contacts .contacts-centralBlock {
    margin: 0 auto; }
    .contacts .contacts-centralBlock .wrapper {
      display: flex; }
      .contacts .contacts-centralBlock .wrapper .left-side {
        width: unset;
        background-image: none;
        background-size: unset;
        font-size: 2rem;
        background: transparent; }
      .contacts .contacts-centralBlock .wrapper .knowMore {
        position: absolute; }

.schedule {
  height: 100vh;
  display: flex;
  justify-content: space-between; }
  .schedule .left-side {
    background-image: url("../img/events-leftSide-bg.svg");
    background-size: contain;
    background-color: #7D2424;
    font-size: 5rem; }
    .schedule .left-side p {
      top: 5%; }
  .schedule .schedule-centralBlock {
    margin: auto; }
    .schedule .schedule-centralBlock .wrapper {
      position: relative; }
      .schedule .schedule-centralBlock .wrapper .link {
        position: absolute;
        font-size: 2rem;
        top: -50px; }
        .schedule .schedule-centralBlock .wrapper .link a {
          text-decoration: none;
          font-family: Ponder, sans-serif;
          color: #7D2424; }
          .schedule .schedule-centralBlock .wrapper .link a img {
            transform: rotate(-10deg);
            position: absolute;
            height: 75px;
            width: 65px; }
      .schedule .schedule-centralBlock .wrapper .schedule-image {
        bottom: -50px;
        position: relative; }
        .schedule .schedule-centralBlock .wrapper .schedule-image .link {
          position: absolute;
          top: 30%;
          left: 17vw;
          font-size: 6rem;
          text-transform: uppercase; }
          .schedule .schedule-centralBlock .wrapper .schedule-image .link a {
            color: #7D2424;
            text-decoration: #7D2424 underline; }
        .schedule .schedule-centralBlock .wrapper .schedule-image img {
          height: 730px;
          width: 1300px; }

/*# sourceMappingURL=main.css.map */
