@import "templates";
// import SCSS file with mixins and variables
@import "reset";
//import reset SCSS file
html,body {
  height: 100%;
  font-family: sans-serif;
}
body {
  background-color: #EDF5F9;
}
body::-webkit-scrollbar { width: 0; }
body { overflow: -moz-scrollbars-none; }
body::-webkit-scrollbar { width: 0; }
// nav menu styles
.navigation-menu {
  position: fixed;
  right: 0;
  // main styles of nav menu block
  .menu {
    // ul list styles of nav menu
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    height: 100%;
    padding-right: 12px;
    .menu-item {
      // li item of ul list at nav menu
      display: flex;
      align-items: center;
      margin: 1vh 0;
      justify-content: space-between;
      box-sizing: border-box;
      text-transform: uppercase;
      font-weight: 500;
      a {
        // link styles at nav menu
        position: relative;
        top: 1px;
        padding: 4px 6px;
        text-decoration: none;
        color:#000000;
        font-weight: 500;
      }
      div {
        // decor styles of li item
        height: 28px;
        width: 28px;
        margin-left: 20px;
      }
      // color for decor boxes at li
      &:nth-of-type(2) {
        border: solid 3px $red;
        div {
          background-color: $red;
        }
      }
      &:nth-of-type(3) {
        border: solid 3px $lightBlue;
        div {
          background-color: $lightBlue;
        }
      }
      &:nth-of-type(4) {
        border: solid 3px $purple;
        div {
          background-color: $purple;
        }
      }
      &:nth-of-type(5) {
        border: solid 3px $green;
        div {
          background-color: $green;
        }
      }
      &:nth-of-type(6) {
        border: solid 3px $turquoise;
        div {
          background-color: $turquoise;
        }
      }
      &:nth-of-type(7) {
        border: solid 3px $darkRed;
        div {
          background-color: $darkRed;
        }
      }
      &:nth-of-type(8) {
        border: solid 3px $darkTurquoise;
        div {
          background-color: $darkTurquoise;
        }
      }
      &:nth-of-type(9) {
        border: solid 3px $yellow;
        div {
          background-color: $yellow;
        }
      }
    }
  }
}
// nav menu styles

// main styles
// header styles
.header {
  background-image: url(../img/header-bg.svg);
  background-size: cover;
  padding: 46px 0;
  h1 {
    text-transform: uppercase;
    font-size: 7rem;
    text-align: center;
    font-weight: 500;
  }
}
// ! header styles
// repeat class
  .left-side {
    text-align: center;
    word-wrap: break-word;
    font-size: 7rem;
    padding: 35px 0;
    width: 100px;
    p {
      position: relative;
    }
  }
// !repeat class
// event section
.events {
  // main container events section
  display: flex;
  justify-content: space-between;
  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $red;
    p {
      top: 15%;
    }
  }
  .events-centralBlock {
    width: 100%;
    margin: 8vh 10vw;
    margin-right: 14vw;
    box-sizing: border-box;
    // event central container with banner markup
    .bottom-flower {
      // styles for flower box
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black;
        img {
          width: 215px;
          height: 250px;
          position: absolute;
          bottom: 0;
          left: -20px;
        }
    }
    .wrapper {
      // central container wrap styles
      width: 85%;
      margin: 0 auto;
      border: solid 3px black;
      .heading {
        // heading styles at central container
        padding: 20px;
        box-sizing: border-box;
        border-bottom: solid 3px black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        // main styles at heading
        .list-image {
          position: absolute;
          right: 50px;
          top: 35px;
          // list image at heading
          img {
            height: 92px;
            width: 95px;
          }
        }
        .circles {
          i {
            cursor: pointer;
            margin: 0 0.3vw;
          }
        }
      }
      // heading styles at central container
      // content styles at central container
      .content {
        padding: 5vh 2vw;
        .title {
          padding-bottom: 4vh;
          text-transform: uppercase;
          font-size: 3rem;
          text-align: center;
          // title of central container styles
        }
        .banner {
          // banner markup styles
          box-sizing: border-box;
          border: solid 3px black;
          img {
            width: 100%;
            height: 650px;
          }
        }
      }
      // content styles at central container
    }
  }
  }
//! events section style !
// news section style
.news {
  display: flex;
  justify-content: space-between;
  // news main container stylees
  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $lightBlue;
    top: 5%;
  }
  // news centralBlock styles
  .news-centralBlock {
    margin: 10vh 20vw;
    border: solid 3px black;
    padding: 15px;
    max-height: 920px;
    overflow-y: auto;
    // !news centralBlock styles
    // ! custom scrollbar styles
    &::-webkit-scrollbar-button {
      background-repeat:no-repeat;
      width:5px;
      height:0;
    }

    &::-webkit-scrollbar-track {
      background-color:$lightBlue
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0;
      border-radius: 0;
      background-color:#6dc0c8;
    }

    &::-webkit-scrollbar-thumb:hover{
      background-color:#56999f;
    }

    &::-webkit-resizer{
      background-repeat:no-repeat;
      width:4px;
      height:0;
    }

    &::-webkit-scrollbar{
      width: 25px;
    }
    // ! custom scrollbar styles
    .wrapper {
      // news main wrapper styles
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(2,1fr);
      .news-component {
        // styles a news component markup
        padding: 15px;
        border: solid 3px black;
        .title {
        // title styles at news post
        }
        .content {
          //  content styles at news post
        }
      }
    }
  }
}
// !news section style!
// reviews section style
.reviews {
  background-image: url('../img/reviews-bg.svg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  .left-side {
    background-image: url(../img/events-leftSide-bg.svg);
    background-size: contain;
    background-color: $green;
  }

  .reviews-centralBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .bottom-flower {
      top: 20vh;
      margin: 5vh 0;
      position: relative;
      border-bottom: solid 3px black;
      width: 100%;
      img {
        width: 370px;
        height: 270px;
        position: absolute;
        bottom: 0;
        left: 13vw;
      }
    }
  }
    .wrapper {
      padding: 0 2vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .review-prev,.review-next {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        img {
          width: 46px;
          height: 58px;
          }
        }
      .review-next {
        img {
          transform: scale(-1,1);
        }
    }
      .review-component {
        margin: 0 1vw;
        border: solid 3px black;
        padding: 15px;
        .title {
          padding: 10px 0;
        }
      }
      .small {
        font-size: 1rem;
        width: 225px;
      }
      .big {
        padding-bottom: 35px;
        width: 425px;
        font-size: 2rem;
      }
      }
    }

// !reviews section style!