@import "templates";
body {
  font-family: Anvyl;
  overflow-x: hidden;
}
/* хром, сафари */
body::-webkit-scrollbar { width: 0; }

/* ie 10+ */
body { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
body { overflow: -moz-scrollbars-none; }
.error {
  min-height: 100vh;
  background-color: $turquoise;
}
header {
  height: 25vh;
  background: $yellow;
  .header-title {
    font-size: 9rem;
    line-height: 1.2;
    color:$turquoise;
  }
  .header-logo {
    right: 5vw;
    z-index: 1000;
    top: 1vh;
  }
}
.events {
  height: 75vh;
  .section-heading {
    background-color: $red;
  }
  .wrapper {
    background-image: url('../img/events-bh-2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:after {
      background-color: rgba(1,1,1,.8);
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    .inner {
      z-index: 3;
      position: relative;
    }
    .events-title {
      font-size: 6rem;
      line-height: 1.2;
      letter-spacing: .3rem;
    }
    .events-description {
      font-size: 2rem;
      opacity: .7;
      line-height: 1.2;
      letter-spacing: .3rem;

    }

  }
}

.events-link {
  bottom: 1vh;
  a {
    padding: 1.4rem 4rem;
    font-size: 5rem;
    line-height: 1.2;
    border: solid 5px white;
    color:white;
    transition: .3s linear;
    &:hover {
      text-decoration: none;
      color:white;
      background-color: black;
      border: solid 5px black;
    }
  }
  a.anchor-link {
    img {
      width: 25px;
      height: 45px;
    }
    font-size: 0;
    background-color:unset;
    color:unset;
    border: none;

  }

}
.section-heading {
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.navigation {
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 10000;
  padding: 1rem .4rem;
  background-color: rgba(84,179,190,.1);
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    justify-content: flex-end;
    margin-right: .1rem;
  }
  .bottom {
    button {
      position: relative;
      left: 16px;
      i {
        font-size:2rem;
        transition: .1s linear;
        &:hover {
          color:black!important;
          transition: .1s linear;
        }
      }
    }

  }
  .middle {
    margin: auto 0;
    .navigation-elem {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .title {
        font-size: 1.4rem;
        color:$turquoise;
        margin-right: 1rem;
        a {
          transition: .1s linear;
          color:$turquoise;
          &:hover {
            color:$darkBlue;
            transition: .1s linear;
          text-decoration: none;
        }
        }
      }
      .box {
        position: relative;
        top: 2px;
        height: 25px;
        width: 25px;
      }
    }

    .navigation-elem:nth-of-type(1) {

      .box{
        background-color: $red;
      }
    }
    .navigation-elem:nth-of-type(2) {

      .box{
        background-color: $turquoise;
      }
    }
    .navigation-elem:nth-of-type(3) {

      .box{
        background-color: $purple;
      }
    }
    .navigation-elem:nth-of-type(4) {

      .box{
        background-color: $lime;
      }
    }
    .navigation-elem:nth-of-type(5) {
     .box{
       background-color: $lightTurquoise
     }
    }
    .navigation-elem:nth-of-type(6) {
     .box{
       background-color: $darkRed;
     }
    }
    .navigation-elem:nth-of-type(7) {
     .box{
       background-color: $darkBlue;
     }
    }
    .navigation-elem:nth-of-type(8) {
     .box{
       background-color: $lime;
     }
    }
    .navigation-elem:nth-of-type(9) {
     .box{
       background-color: $pink;
     }
    }
    .navigation-elem:nth-of-type(10) {
     .box{
       background-color: $lightGreen;
     }
    }
    .navigation-elem:nth-of-type(11) {
     .box{
       background-color: $yellow;
     }
    }
  }
}
.news {
  height: 100vh;
  .section-heading {
    background-color: $turquoise;
  }
  .news-heading {
    overflow-x: hidden;
    padding-top: 34px;
      border-bottom: solid 4px $turquoise;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 3px 10px 1px #707070;
    box-shadow: 0 3px 10px 1px #707070;
      a {
        &:hover {
          padding-bottom: 11px;
          text-decoration: none;
          border-bottom: solid 5px $red;
        }
      }
    }
  .card-wrapper {
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  .card {
    .card-description {
      color:#383838;
    }
  }
  .news-link {
    margin-top: 15vh;
    font-size: 5rem;
    border: solid 4px $red;
    &:hover {
      text-decoration: none;
    }
  }
}