$turquoise: #4A8C92;
$yellow: #E7E36A;
$red : #B95253;
$purple: #6E64A4;
$lime: #A3CB8F;
$lightTurquoise: #62A5BC;
$darkRed: #7D2424;
$darkBlue: #143449;
$pink: #F45DA2;
$lightGreen: #5DF4AB;



// fonts
@font-face {
  font-family: Anvyl; /* Имя шрифта */
  src: url("../assets/fonts/ANVYL.otf"); /* Путь к файлу со шрифтом */
}