$red : #B95253;
$lightBlue: #C6E8F1;
$purple: #6E64A4;
$green: #A3CB8F;
$turquoise: #62A5BC;
$darkRed: #7D2424;
$darkTurquoise: #143449;
$yellow: #F7E85C;
//!VARIABLES





@font-face {
  font-family: "Pinkment";
  src: url("../assets/Pinkment.ttf");
}
// Pinkment - background font
@font-face {
  font-family: "Ponder-Black";
  src: url("../assets/Ponder-Black.ttf");
}
// Ponder - Black main web-site font with default style

@font-face {
  font-family: "Ponder-Light";
  src: url("../assets/Ponder-Light.ttf");
}
// Ponder - Light main web-site font with light style

//fonts





