<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/assets/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/media.css">
    <!--  include all styles  -->
    <title>Ошибка 500</title>
</head>
<body>

<div class="error">
    <div class="container ">
        <div class="row position-absolute text-uppercase text-light justify-content-center" style="transform: rotate(-15deg); top: 10vh">
            <p class="font-weight-bold" style="font-size: 5vw;">это все пингвины</p>
        </div>
        <div class="row justify-content-center pt-4">
            <img src="../../static/img/error-image-2.svg" class="img-fluid  w-75" alt="">
        </div>
        <div class="row justify-content-center pb-4 pt-4">
            <button class="btn btn-outline-danger w-50 font-weight-bold rounded-lg text-light text-uppercase" style="font-size: 2rem">назад</button>
        </div>
    </div>
</div>


<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>
</body>
</html>
