<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/assets/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/media.css">
    <!--  load all styles  -->
    <title>Index page</title>
</head>
<body>
<!--header markup-->
<header class="header">
    <h1>школа точных наук</h1>
    <!--    header-title    -->
</header>
<!--header markup!-->
<!--web-site nav-menu-->

<div class="navigation-menu">
    <!--      nav menu wrapper      -->

    <ul class="menu">
        <img src="../static/img/events-turnOn-arrow.svg" alt="" class="turnOn-arrow">
        <li class="menu-item"><i class="fa fa-power-off"></i></li>
        <!--       turn off/on items icon         -->
        <li class="menu-item"><a href="#events-anchor">события</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#news-anchor">новости</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#aboutUs-anchor">о нас</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#reviews-anchor">отзывы</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#contacts-anchor">контакты</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#">расписание</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#">платформа</a>
            <div></div>
        </li>
        <li class="menu-item"><a href="#">войти</a>
            <div></div>
        </li>
        <!--      anchor items at nav menu      -->
    </ul>
    <!--      web-site navigation menu markup      -->
</div>
<!--!web-site nav-menu!-->
<!--events section-->
<section class="events" id="events-anchor">
    <div class="left-side">
        <p>события</p>
    </div>
    <!--    section title side    -->
    <div class="events-centralBlock">
        <div class="wrapper">
            <!--        centralBlock wrapper        -->
            <div class="heading">
                <!--          heading of centralBlock          -->
                <div class="circles">
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="list-image">
                    <img src="../static/img/events-list.svg" alt="">
                </div>
            </div>
            <div class="content">
                <!--         main content of central block wrapper           -->
                <div class="title">
                    принять участие
                    <!--          main content title          -->
                </div>
                <!--        main content imageBox            -->
                <div class="banner">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
        </div>
        <div class="bottom-flower">
            <!--        flower box under banner        -->
            <img src="../static/img/events-flower.svg" alt="">
        </div>
        <!--      section central container       -->
    </div>
</section>
<!--events section!-->
<!--news section-->
<section class="news" id="news-anchor">
    <div class="left-side">
        <p>новости</p>
    </div>
    <div class="news-centralBlock">
        <div class="wrapper">
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
            <div class="news-component">
                <div class="content-box">
                    <h3 class="title"><a href="#">Title</a></h3>
                    <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio id illum in maiores necessitatibus nobis.</p>
                    <p class="news-date">1 мая</p>
                </div>
                <div class="news-image">
                    <img src="https://via.placeholder.com/650C/O https://placeholder.com/" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--    section title side    -->

</section>
<!--news section!-->
<!--about us section-->
<section class="aboutUs" id="aboutUs-anchor">
    <div class="left-side">
        <p>о &nbsp; нас</p>
    </div>
    <div class="aboutUs-centralBlock">
<!--    news centralBlock    -->
        <div class="wrapper">
<!--     main wrapper at news-centralBlock       -->
            <div class="penguin">
<!--         block with penguin image        -->
                <img src="../static/img/aboutUs-penguin.svg" alt="">
            </div>
            <div class="link-container">
<!--        flex-box with bordered links         -->
                <a href="">о школе</a>
                <a href="">история школы</a>
                <a href="">преподаватели</a>
            </div>
<!--      absolute link know more      -->
            <a href="#" class="knowMore">узнай о нас больше</a>
        </div>
    </div>
</section>
<!--!about us section!-->
<!--reviews section -->
<section class="reviews" id="reviews-anchor">
    <div class="left-side">
        <p>отзывы</p>
    </div>
    <div class="reviews-centralBlock">
        <div class="wrapper">
            <button class="review-prev"><img src="../static/img/review-arrow.svg" alt=""></button>
            <div class="review-component small">
                <h3 class="title">Заголовок комментария</h3>
                <p class="content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quia!</p>
            </div>
            <div class="review-component big">
                <h3 class="title">Заголовок комментария</h3>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, hic.</p>
            </div>
            <div class="review-component small">
                <h3 class="title">Заголовок комментария</h3>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, unde!</p>
            </div>
            <button class="review-next"><img src="../static/img/review-arrow.svg" alt=""></button>
        </div>
        <div class="bottom-flower">
            <img src="../static/img/reviews-flower.svg" alt="">
            <img src="../static/img/reviews-penguin.svg" alt="">
            <img src="../static/img/reviews-flower.svg" alt="">
        </div>
    </div>
</section>
<!--reviews section!-->
<!--contacts section-->
<section class="contacts" id="contacts-anchor">
    <div class="left-side">
        <p>контакты</p>
    </div>
    <div class="contacts-centralBlock">
        <div class="wrapper">
            <div class="left-side">

            </div>
            <div class="right-side">
                <div class="location-box">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <button class="map-btn">карта</button>
                </div>
                <div class="location-box">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <button class="map-btn">карта</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--!contacts section!-->
</body>
</html>
