<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/assets/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/media.css">
    <!--  include all styles  -->
    <title>Index page</title>
</head>
<body>

<header class="">
    <div class="h-100 container-fluid">
        <div class="row h-100 align-items-center position-relative">
            <div class="col-sm-9">
                <p class="header-title text-center">
                    школа точных наук
                </p>
            </div>
            <div class="col-sm-2 position-absolute header-logo">
                <img src="../static/img/header-penguin-logo.svg" class="img-fluid h-75" alt="">
            </div>
            <div class="col-sm-1 d-none ">
                <a href="">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="navigation position-fixed">
    <div class="top text-light h1">
        м <br> е <br> н <br> ю
    </div>
    <div class="middle">
        <div class="navigation-elem">
            <div class="title nav-title  nav-title-hidden"><a href="#events-anchor">события</a></div>
            <div class="box nav-title-square"></div>
        </div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#news-anchor">новости</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#aboutUs-anchor">о нас</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#reviews-anchor">отзывы</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#contacts-anchor">контакты</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#directions-anchor">направления</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#prices-anchor">цены</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#schedule-anchor">расписание</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#aboutPlatform-anchor">о платформе</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#highSchool-anchor">старшая школа</a></div>
            <div class="box nav-title-square"></div></div>
        <div class="navigation-elem">
            <div class="title nav-title nav-title-hidden"><a href="#sign-anchor">войти</a></div>
            <div class="box nav-title-square"></div></div>
    </div>
    <div class="bottom text-right ">
        <button class="btn text-light" id="nav-toggle"><i class="fa fa-bars"></i>
        </button>
    </div>
</div>
<section class="events" id="events-anchor">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    с <br> о <br> б <br> ы <br> т <br> и <br> я
                </div>
            </div>
            <div class="col-sm-11 pl-0">
                <div class="wrapper pt-5 h-100">
                    <div class="inner h-100 position-relative">
                        <div class="row ml-5">
                            <p class="events-title font-weight-bold text-light">новая олимпиада</p>
                        </div>
                        <div class="row ml-5">
                            <p class="events-description text-light w-50">Олимпиада по математике для 1-8 классов
                                Очень интересная и ориентированная на математику
                                там все про математику и ещё про математику</p>
                        </div>
                        <div class="row position-absolute events-link text-center w-100 justify-content-center d-block mr-5">
                            <div class="link link-more">
                                <a href="" class="w-25 text-uppercase">подробнее</a>
                            </div>
                            <div class="link mt-5">
                                <a href="#news-anchor" class="w-25 text-uppercase anchor-link"><img src="../static/img/anchor-link.svg" class="img-fluid" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news" id="news-anchor">
    <div class="container-fluid p-0 h-100 ">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    с <br> о <br> б <br> ы <br> т <br> и <br> я
                </div>
            </div>
            <div class="col-sm-11">
                <div class="row pr-5 news-heading">
                    <div class="col-sm-6 text-right "><a href="" class="text-dark h1">новости</a></div>
                    <div class="col-sm-6 text-left"><a href="" class="text-dark h1">события</a></div>
                </div>

                <div class="container">
                    <div class="row mt-5 justify-content-sm-between">
                        <div class="col-sm-3">
                            <a href="" class="card-wrapper">
                                <div class="card p-1">
                                    <div class="card-img-top">
                                        <img src="https://images.unsplash.com/photo-1589451907336-7531424d8d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                                    </div>
                                    <div class="card-info pt-2 pb-2">
                                        <span class="text-danger">Новость</span>
                                        <span>|</span>
                                        <span class="text-dark">11.11.2222</span>
                                    </div>
                                    <div class="card-title h4 text-dark">
                                        новый набор в школу по математике
                                    </div>
                                    <div class="card-description h6 pb-5 mb-5">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque blanditiis consequatur doloremque doloribus expedita iusto laborum nostrum possimus sunt.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <a href="" class="card-wrapper">
                                <div class="card p-1">
                                    <div class="card-img-top">
                                        <img src="https://images.unsplash.com/photo-1589451907336-7531424d8d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                                    </div>
                                    <div class="card-info pt-2 pb-2">
                                        <span class="text-danger">Новость</span>
                                        <span>|</span>
                                        <span class="text-dark">11.11.2222</span>
                                    </div>
                                    <div class="card-title h4 text-dark">
                                        новый набор в школу по математике
                                    </div>
                                    <div class="card-description h6 pb-5 mb-5">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque blanditiis consequatur doloremque doloribus expedita iusto laborum nostrum possimus sunt.
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <a href="" class="card-wrapper">
                                <div class="card p-1">
                                    <div class="card-img-top">
                                        <img src="https://images.unsplash.com/photo-1589451907336-7531424d8d34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="">
                                    </div>
                                    <div class="card-info pt-2 pb-2">
                                        <span class="text-danger">Новость</span>
                                        <span>|</span>
                                        <span class="text-dark">11.11.2222</span>
                                    </div>
                                    <div class="card-title h4 text-dark">
                                        новый набор в школу по математике
                                    </div>
                                    <div class="card-description h6 pb-5 mb-5">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque blanditiis consequatur doloremque doloribus expedita iusto laborum nostrum possimus sunt.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a href="" class="text-uppercase w-25 text-center text-dark news-link">
                        ещё
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="aboutUs" id="aboutUs-anchor">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    о <br> <br> н <br> а <br> с
                </div>
            </div>
            <div class="col-sm-11 fullscreen-bg h-100 p-0 position-relative">
                <div class="overlay text-uppercase position-absolute aboutUs-link "><a href="" class="text-light">узнай о нас больше</a></div>
                <div class="overlay row position-absolute pl-5 pr-5 justify-content-around w-100 h1 aboutUs-link-menu mr-5">
                    <a href="" class="text-light">история школы</a>
                    <a href="" class="text-light">о школе</a>
                    <a href="" class="text-light">преподователи</a>
                </div>
                <video src="../static/video/videobackgr.mp4" class="w-100"  width="" muted="muted" loop="" height="" autoplay="autoplay" >
                </video>
            </div>
        </div>
    </div>
</section>
<section class="reviews" id="reviews-anchor">
    <div class="container-fluid h-100 p-0">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    о <br> т <br> з <br> ы <br> в <br> ы
                </div>
            </div>
            <div class="col-sm-11"></div>
        </div>
    </div>
</section>
<section class="contacts" id="contacts-anchor">
    <div class="container-fluid h-100 p-0">
        <div class="row wrapper h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    к <br> о <br> н <br> т <br> а <br> к <br> т <br> ы
                </div>
            </div>
            <div class="col-sm-11">
                <div class="row justify-content-center social-row ">
                    <div class="social-icon">
                        <a href=""><img src="../static/img/instagram.svg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="social-icon">
                        <a href=""><img src="../static/img/whatsapp.svg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="social-icon">
                        <a href=""><img src="../static/img/telegram.svg" alt="" class="img-fluid"></a>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-7 position-relative">
                        <form action="" method="" class="position-absolute w-100 h-100 contact-form">
                            <p class="h2 text-uppercase">мы перезвоним!</p>
                            <input type="text" name="name" placeholder="ИМЯ" class="w-50">
                            <input type="tel" name="phone" placeholder="+7 [---] --- -- --" class="w-50">
                            <input type="submit" class="btn w-25 btn-warning" value="отправить">
                        </form>
                        <img src="../static/img/contact-form.svg" class="img-fluid contact-form-img position-absolute" alt="">
                        <div class="contact-form-info position-absolute w-100  text-center text-light h3">
                            <p>schoolofexactsciences@gmail.com</p>
                            <p>+7 (985) 971 00 21</p>
                        </div>
                    </div>
                    <div class="col-sm-5 maps-wrapper">
                        <div class="row w-35">
                            <p class="text-light font-weight-bold h1 text-uppercase map-content">основное помещение: бауманская улица 6, стр.2</p>
                            <button class="btn btn-map btn-warning w-100 js-open-modal" id="map-1">карта</button>
                        </div>
                        <div class="row mt-5 w-35">
                            <p class="text-light font-weight-bold h1 text-uppercase map-content">филиал:мосфильмовская улица,35</p>
                            <button class="btn btn-map btn-warning w-100 js-open-modal" id="map-2">карта</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="prices" id="prices-anchor">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-light h-100">
                <div class="section-heading d-flex h-100">
                    с <br> т <br> о <br> и <br> м <br> о <br> с <br> т <br> ь
                </div>
            </div>
            <div class="col-sm-11">
                <div class="row">
                    <ul class="nav h1">
                        <li class="nav-item "><a >олимпиадная математика</a></li>
                        <li class="nav-item"><a >робототехника</a></li>
                        <li class="nav-item"><a >занимательная физика</a></li>
                        <li class="nav-item"><a >занимательная биология</a></li>
                        <li class="nav-item"><a >программирование</a></li>
                        <li class="nav-item"><a >огэ/егэ по математике/физике</a></li>
                        <li class="nav-item"><a >огэ/егэ по математике/физике(интенсив)</a></li>
                        <li class="nav-item"><a >высшая математика</a></li>
                        <li class="nav-item"><a >индивидуальные занятия по каждому предмету</a></li>
                    </ul>
                </div>
                <div class="row justify-content-center">
                     <div class="content-box w-35 position-relative">
                         <p class="title h1 text-center text-light">робототехника</p>
                         <hr class="w-25">
                         <p class="content h4 text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, explicabo.</p>
                         <p class="price text-right h1">6800 за 4 занятия</p>
                         <p class=" text-light position-absolute comment"><sup>*</sup> все цены указаны в российских рублях</p>
                     </div>
                </div>
                <div class="row justify-content-center prices-link">
                    <a href="#" class="h1 text-light">действующие скидки</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="directions" id="directions-anchor">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-sm-1 pr-0 text-center text-dark h-100">
                <div class="section-heading d-flex h-100">
                    н <br> а <br> п <br> р <br> а <br> в <br> л <br> е <br> н <br> и <br> я
                </div>
            </div>
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-sm-7 content-box">
                        <p class="display-2 text-light title">биология</p>
                        <hr class="w-50 float-left" color="white">
                        <div class="clearfix"></div>
                        <p class="h3 w-75 text-light content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto beatae debitis eveniet fugiat harum laudantium, neque nesciunt nihil non, reprehenderit sapiente similique unde vero.</p>
                        <div class="directions-link">
                            <a href="#" class="">получить консультацию</a>
                        </div>
                        <div class="counter-list display-3">
                            <a href="#" class="">1</a>
                            <a href="#" class="">2</a>
                            <a href="#" class="">3</a>
                            <a href="#" class="">4</a>
                        </div>
                    </div>
                    <div class="col-sm-5"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sign" id="sign-anchor">
    <div class="container-fluid h-100 p-0">
        <div class="row sign-header justify-content-center">
            <a href="" id="signIn" class="w-25 text-center">вход</a>
            <a href="" id="signUp" class="w-25 text-center">регистрация</a>
        </div>
        <div class="row sign-form justify-content-center w-50">
            <form action="" class="w-100 position-relative">
                <input type="text" name="login" class="w-100" placeholder='Логин'>
                <input type="password" name="password" class="w-100" placeholder="Пароль">
                <p class="text-danger position-absolute nActive">неправильный логин или пароль</p>
                <div class="w-100 text-right">
                    <a href="" class="text-dark">забыл пароль</a>
                </div>
                <div class="w-100 justify-content-center row submit">
                    <input type="submit" class="w-35" value="войти">
                </div>
                <div class="rules row justify-content-center">
                    <div class=" w-35 d-flex text-center">
                        <input type="checkbox" name="" id="checkbox">
                        <p><label for="checkbox">даю согласие на обработку моих <u><a href="" class="text-dark">персональных данных</a></u></label></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="contact-modal-overlay" id="contact-modal-overlay"></div>
<div class="contacts-maps-modal" id="maps-modal-1">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross" id="contacts-modal-cross1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.9759582385204!2d37.67343785159711!3d55.77628939755229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5357fb9e10775%3A0x89769325f0c376f8!2z0JHQsNGD0LzQsNC90YHQutCw0Y8g0YPQuy4sIDYg0YHRgtGA0L7QtdC90LjQtSAyLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA1MDA1!5e0!3m2!1sru!2sua!4v1590147937742!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
<div class="contacts-maps-modal" id="maps-modal-2">
    <svg class="modal__cross" id="contacts-modal-cross2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.673664216727!2d37.508710851595126!3d55.71204400250669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c12d8f0de21%3A0x9bae51d279e84c24!2z0JzQvtGB0YTQuNC70YzQvNC-0LLRgdC60LDRjyDRg9C7LiwgMzUsINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMTkzMzA!5e0!3m2!1sru!2sua!4v1590148069105!5m2!1sru!2sua" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
